body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
	text-align:center;
}

footer {
    background-color: #2196F3;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #2196F3;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

h1, h2 {
    color: #333;
    font-family: 'Raleway', sans-serif;
}

section, form {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

table {
    width: 96%;
    border-collapse: collapse;
    margin: 20px 2%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2196F3;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td button{
	background-color: #2196F3;
	padding: 5px 10px;
	border-style: none;
	border-radius: 10px;
	color: white;
	margin-top: 1px;
}

.delet-button{
	background-color: red;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #2196F3;
    color: white;
    text-align: center;
}

/* Estilo da notificação */
#mensagem-sucesso {
    position: fixed;
    margin-top: 5px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Cor de fundo verde para sucesso */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    z-index: 1000;
    opacity: 0; /* Oculto inicialmente */
    visibility: hidden;
    animation: fadeInDown 0.5s forwards, fadeOutUp 0.5s 4.5s forwards; /* Animação */
}

#mensagem-deletar {
    position: fixed;
    margin-top: 5px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red; /* Cor de fundo verde para sucesso */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    z-index: 1000;
    opacity: 0; /* Oculto inicialmente */
    visibility: hidden;
    animation: fadeInDown 0.5s forwards, fadeOutUp 0.5s 4.5s forwards; /* Animação */
}

/* Animação de entrada (deslizar para baixo e aparecer) */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-50px); /* Começa fora da tela */
        visibility: visible;
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0); /* Termina na posição correta */
        visibility: visible;
    }
}

/* Animação de saída (deslizar para cima e desaparecer) */
@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-50px); /* Sai da tela */
        visibility: hidden;
    }
}

